{% extends "dashboards/base_dashboard.html" %}
{% block title %}Panel Doctor | Medessentia{% endblock %}
{% block page_title %}Panel del Doctor{% endblock %}

{% block content %}
<div class="row g-3">
  <div class="col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-people fs-2 me-3"></i>
        <div>
          <div class="fw-bold">Pacientes</div>
          <div class="text-muted small">Listado de perfiles</div>
        </div>
      </div>
      <a class="btn btn-primary mt-3 w-100" href="{% url 'lista_perfiles' %}">Ver pacientes</a>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-clipboard2-pulse fs-2 me-3"></i>
        <div>
          <div class="fw-bold">Signos Vitales</div>
          <div class="text-muted small">Todos los registros</div>
        </div>
      </div>
      <a class="btn btn-outline-primary mt-3 w-100" href="{% url 'signos_vitales' %}">Abrir</a>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-calendar2-week fs-2 me-3"></i>
        <div>
          <div class="fw-bold">Citas</div>
          <div class="text-muted small">citas</div>
        </div>
      </div>
      <a class="btn btn-outline-primary mt-3 w-100" href="{% url 'cita_index' %}">Ver Citas</a>
    </div>
  </div>
</div>
  <div class="col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-calendar2-week fs-2 me-3"></i>
        <div>
          <div class="fw-bold">Horario</div>
          <div class="text-muted small">Horario De Atencion</div>
        </div>
      </div>
      <a class="btn btn-outline-primary mt-3 w-100" href="{% url 'horario_index' %}">Agregra horario</a>
    </div>
  </div>
</div>
{% endblock %}
